
body {
	background-color: white;
}

h1 {
	margin-top: 20px;
}

h3 {
	padding-top: 4px;
}

button {

	height: 40px;
	color: black;
	text-align: center;
	line-height: 12px;
	font-size: 12px;
	/*display: none;*/
}


input {
	margin-top: 20px;
	height: 25px;
	width: 180px;
	font-size: 12px;
	display: none;
}

.framework {
	width: 100%;
	text-align: center;
	margin-top: 5%;
}

img {
	width: 80%;
}

.choices img:hover {
}

.submit_name_button {
	display: none;
}

#results {
	list-style: none;
	margin-top: 20px;
	}

#results li {
	background: #999;
	color: #fff;
	text-align: center;
	font-size: 24px;
	border-radius: 8px;
	padding: 5px;
	width: 30%;
	margin-bottom: 1%;
	display: none;
}

