
body {
	background-color: white;
	margin-top: 5%;
	padding-left: 250px;
	vertical-align: center;
}

h1 {
	padding-left: 25px;
}

.choices img {
	width: 12%;
	opacity: 0.5;
	transition: 1s opacity;
	}

.choices img:hover {
	cursor: pointer;
	opacity: 1;
	}

#results {
	list-style: none;
	}

#results li {
	background: #999;
	color: #fff;
	text-align: center;
	font-size: 24px;
	border-radius: 8px;
	padding: 5px;
	width: 30%;
	margin-left: 12.5%;
	margin-bottom: 1%;
	display: none;
}

