
<!DOCTYPE html>
<html>
	<head>
		<title>Rock Paper Scissors</title>
		<link href="./css/style.css" rel="stylesheet">		
	</head>
	<body>
		<form action='/button_clicked' method='POST'>
<!-- 			<img src="/rock.jpg">
 -->	 		<button id="button">submit</button>

	 	</form>

		<h1>
			<%= session[:message] %>  

		</h1>
	</body>
</html>
