<!doctype>
<html>
	<head>
		<title>Rock Paper Scissors Lizard Spock</title>
		<link href="./css/style.css" rel="stylesheet">
		<meta charset="utf8">
    </head>
    <body>
    	<table class="framework" border="1px" padding="20px" valign="center">
    		<tr>
    			<td width=15%>
    			</td>
    			<td width=70%>
    			    <h1>
    			    	<span>Rock Paper Scissors Lizard Spock</span>
    			    </h1>
    			</td width=15%>
    			<td>
    			</td>
    		</tr>
    		<tr>
    		 	<td width=15%>
    			</td>
    			<td width=70%>
    				<table class='choices' border="1px" width=100%>
    					<tr>
	    					<td align="center">
	    						<img src="images/rock.png" data-pick='rock'>
	    					</td>
	    					<td align="center">
	 	 	     				<img src="images/paper.png" data-pick='paper'>					
	    					</td>
	    					<td align="center">
								<img src="images/scissors.png" data-pick='scissors'>
	      					</td>
	      					<td align="center">
			    				<img src="images/lizard.png" data-pick='lizard'>
	      					</td>
	      					<td align="center">
	    						<img src="images/spock.png" data-pick='spock'>
	      					</td>
    					</tr>
    				</table>
       			</td>
       			<td width=15%>
    			</td>
    		</tr>
    		<tr height="40px" style="valign: center;" padding="100px">
 				<td width=15%>
    			</td>
    			<td width=70% align="center" height="40px"> 
    				<h3 id="message"></h3>
    			</td>
    			<td width=15%>
    			</td>
    		</tr>
    		<tr>
    			<td width=15%>
    			</td>
  	 			<td width=70%>
  	 				<table class="buttons" height="40px" border="1px" width=100% valign="center">
  	 					<tr>
				 			<td id="first_box" align="center" width=50%>
			    				<p><button type="button" class="gameModeButton" id="one_player">Player vs Deep Thought</button></p>
			    				<p><input type="text" class="player_name" id="player1_name" required="true" autofocus></input> <p> 
			    			</td>
			    			<td id="second_box" valign= "center" align="center">
			    				<p><button type="button" class="gameModeButton" id="two_players">Player vs Player</button></p>
			    				<p><input type="text" class="player_name" id="player2_name" required></input></p>
			    			</td>
  	 					</tr>
  	 				</table>
    			</td>
    			<td width=15%>
    			</td>
    		</tr>
    		<tr>
    			<td width=15%>
    			</td>
    			<td width=70% align="center">
   	 				<table class="buttons" height="40px" border="1px" width=100%>
  	 					<tr>
				 			<td id="results_box" align="center">
			    			  	<button type="button" class="submit_name_button" id="submit_1">Submit</button>
			    			  	<ul id="results_box"></ul>
			    			</td>
  	 					</tr>
  	 				</table>
	 			</td>
	 			<td width=15%>
    			</td>
    		</tr>
    		<tr>
    			<td width=15%>
    			</td>
    			<td width=70% align="center">
			    		<button type="button" class="restart_button" id="restart">Restart Game</button>
 		 			</td>
	 			<td>
    			</td>
    		</tr>
    	</table>
    	<script src='lib/RockPaperScissorsLizardSpock.js'></script>
    	<script src='lib/jquery-2.1.1.min.js'></script>
    	<script src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
    	<script>

    	playGame();

    		function playGame() {
    			$(document).ready(function() {
 					createNewGame();
					updateMainMessage("Welcome, please select game mode");
					selectGameMode();
    			});
    		};

    		function createNewGame() {
  				window.p1 = new Player("");
    			window.p2 = new Player("");
    			window.game = new Game(p1, p2);
    			window.message = "";
    			appendMainMessage();
    			resetPlayersPicks();
    		};

    		function appendMainMessage() {
				$("#message").append("<h3>" + message + "</h3>");
    		};

    		function resetPlayersPicks() {
              	p1.pick = null;
              	p2.pick = null;
      		};

			function updateMainMessage(message) {
				$('#message').text(message);
			};

			function selectGameMode() {
				$(".gameModeButton").fadeIn();
				$('#one_player').on('click', function() {
					setSinglePlayerMode();
				});
				$('#two_players').on('click', function() {
					setTwoPlayersMode();
				});
			};
            
			function setSinglePlayerMode() {
				setPlayersNames("single");
				$("#submit_1").on('click', function() {
					if ($('#player1_name').val() != "") {
							p1.name = $('#player1_name').val();
						$('#player1_name').fadeOut(function() {
							$(this).remove();
						});
						$("#submit_1").fadeOut(function() {
							$(this).remove();
						});
						$("#first_box").text(p1.name);
						playerVsComputer();
					} else {
						updateMainMessage("Please enter name to begin");
					};
				});
			};

			function setTwoPlayersMode() {
				name_one_check = false;
				name_two_check = false;
				setPlayersNames("twoPlayers");
				$('#submit_1').on('click', function() {
					if ($('#player1_name').val() != "" && !name_one_check) {
						p1.name = $('#player1_name').val();
						$('#player1_name').fadeOut();
						$('#first_box').text(p1.name);
						name_one_check = true;
					};	
					if ($('#player2_name').val() != "" && !name_two_check) {
						p2.name = $('#player2_name').val();
						$('#player2_name').fadeOut();
						$('#second_box').text(p2.name);
						name_two_check = true;
					};
					if (name_one_check && name_two_check) {				  					
						$('#submit_1').fadeOut();
						updateMainMessage(p1.name + " and " + p2.name + ", make your selection!");
						playerVsPlayer();
					} else {
						updateMainMessage("Please enter both names to begin");
					};
				});
			};

			function setPlayersNames(mode) {
				$('.gameModeButton').remove();
				$('#player1_name').fadeIn();
				$('#submit_1').fadeIn();
				if (mode === "single") {
					updateMainMessage("Please enter your name:");
					p2.name = "Deep Thought";
					$('#second_box').text(p2.name);
				};
				if (mode === "twoPlayers") {
					updateMainMessage("Please enter your names:");
					$('#player2_name').fadeIn();	
				};
			};

			function playerVsComputer() {
				updateMainMessage(p1.name + " , make your selection!");
				$('#restart').fadeIn();
				$('.choices img').on('click', function() {
  	    			p1.picks($(this).data('pick'));
					p2.picks(randomPick());
  	    			showWinningMessage();
  	    			showPicksAndWinningMessageInConsole();
				});
				$('#restart').on('click', function() {
					restartGame();
	 	   		});
			};

   			function randomPick() {
    			selection = ["rock", "paper", "scissors", "lizard", "spock"];
    			return selection[Math.floor(Math.random() * selection.length)];
    		};

			function playerVsPlayer() {
				$('#restart').fadeIn();
       			$('.choices img').on('click', function() {
          			if (p1.pick === null) {
          				p1.picks($(this).data('pick'));
          			} else {
          				p2.picks($(this).data('pick'));
						showWinningMessage();
              			showPicksAndWinningMessageInConsole();            		
              			resetPlayersPicks();
          			};
        		});
        		$('#restart').on('click', function() {
					restartGame();
				});
	 		};

			function showWinningMessage() {
				$('<li>' + game.winningMessage() + '</li>').prependTo('#results_box').slideDown();
  	    		$('li:gt(0)').fadeOut(function(){
  	    			$(this).remove();
  	    		});
			};

   			function showPicksInConsole() {
    			console.log(p1.name + " picked: " + p1.pick);
	  	    	console.log(p2.name + " picked: " + p2.pick);
    		};

    		function showWinningMessageInConsole() {
    			console.log(game.winningMessage());
    		};

    		function showPicksAndWinningMessageInConsole() {
    			showPicksInConsole();
				showWinningMessageInConsole();
    		};

			function restartGame() {
    			location.reload();
    		};
		</script>
	</body>
</html>
