
<!DOCTYPE html>
<html>
	<head>
		<title>Rock Paper Scissors</title>
		<link href="./css/style.css" rel="stylesheet">		
	</head>
	<body>
		
			<img src="/images/rock.png">
			<img src="/images/paper.png">
			<img src="/images/scissors.png">
			<img src="/images/lizard.png">
			<img src="/images/spock.png">

		<script src='lib/RockPaperScissorsLizardSpock.js'></script>
		<script src='lib/jquery-2.1.1.min.js'></script>

	</body>
</html>
